<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Hello</title>
        <link rel="stylesheet" th:href="@{/css/listagem.css}">
	    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Schoolbell&family=Syne+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Bem-vindo(a) :)</h1>
        <div style="margin: 0px 0px 0px 15px;">
		    <a href="/prato"><button class="botao">Pratos</button></a>
            <a href="/cliente"><button class="botao">Clientes</button></a>
            <a href="/pedido"><button class="botao">Pedidos</button></a>
	    </div>
    </body>
</html>