<!DOCTYPE html>
<html lang ="en" xmlns:th="http://thymeleaf.org" >
<head>
	<title>Cadastro Prato</title>
	<link rel="stylesheet" th:href="@{/css/listagem.css}">
	<link href="https://fonts.googleapis.com/css2?family=Chewy&family=Schoolbell&family=Syne+Mono&display=swap" rel="stylesheet">
</head>
<body>
	<h1 th:text="${prato != null} ? 'Editar Prato' : 'Adicionar Prato'"></h1>
	<div style="margin: 0px 0px 0px 15px;">
		<a href="/prato"><button class="botao">Voltar</button></a>
	</div>
	<div style="margin: 15px 5px 5px 5px">
		<form method="post" action="/prato">
			<input type="hidden" name="_method" value="put" th:if="${prato!= null}">
			<input type="hidden" name="id" th:value="${prato?.id}">
			<table>
				<tbody>
					<tr>
						<th>Nome</th>
						<th><input type="text" id="nome" name="nome" th:value="${prato?.nome}"></th>
					</tr>
					<tr>
						<th>Valor</th>
						<th><input type="text" id="valor" name="valor" th:value="${prato?.valor}"></th>
					</tr>
					<tr>
						<th>Categoria</th>
						<th>
							<select id="categoria" name="categoria" style="width: 100%;">
								<option>Sem Categoria</option>
								<option>Entrada</option>
								<option>Prato Principal</option>
								<option>Acompanhamento</option>
								<option>Sobremesa</option>
								<option>Bebida</option>								
							</select>
						</th>
					</tr>
					<tr>
						<th colspan="2" style="text-align: right;"><input class="botao" type="submit" value="Cadastrar"></th>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>